@using DO_AN_1.Models;
@model IList<Categori>

<ul>
    <li><a href="#">@Html.Raw(Model[0].name)</a></li>
    <li><a href="#">@Html.Raw(Model[1].name)</a></li>
    <li><a href="#">@Html.Raw(Model[2].name)</a></li>
    <li><a href="#">@Html.Raw(Model[3].name)</a></li>
    <li><a href="#">@Html.Raw(Model[4].name)</a></li>
    <li><a href="#">@Html.Raw(Model[5].name)</a></li>
    <li><a href="#">@Html.Raw(Model[6].name)</a></li>
    <li><a href="#">@Html.Raw(Model[7].name)</a></li>
    <li><a href="#">@Html.Raw(Model[8].name)</a></li>
    <li><a href="#">@Html.Raw(Model[9].name)</a></li>
    <!-- <li><a href="#">Fresh Bananas</a></li> -->
</ul>
